/* Modal Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}
.modal-title {
  font-size: var(--fz-xl);
  color: var(--black);
  text-transform: capitalize;
}
.modal-title.alert {
  color: var(--red);
}
.modal-paragraph {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: #828fa3;
  padding-bottom: 24px;
}
.modal-box {
  display: flex;
  gap: 16px;
}

.popover {
  display: flex;
  flex-direction: column;
  width: 192px;
  position: absolute;
  top: 22px;
  right: 0;
  padding: 1.6rem;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  background: #ffffff;
  gap: 16px;
}
.popover.popover-center {
  left: 50%;
  transform: translate(-50%);
}
.popoverInvisible {
  opacity: 0;
}
