/* //Header */
.h-xl {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 30px;
}
.h-l {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.438rem;
}
.h-m {
  font-size: 0.938rem;
  font-weight: bold;
  line-height: 1.188rem;
}
.h-s {
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.938rem;
  font-kerning: 0.15rem;
}
/* //Body */
.b-l {
  font-size: 0.813rem;
  font-weight: normal;
  line-height: 1.438rem;
}
.b-m {
  font-size: 0.813rem;
  font-weight: normal;
  line-height: 1.438rem;
}

/* Modal Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.popover {
  display: flex;
  flex-direction: column;
  width: 192px;
  position: absolute;
  top: 22px;
  right: 0;
  padding: 1.6rem;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  background: #ffffff;
  gap: 16px;
}

.modal-paragraph {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: #828fa3;
  padding-bottom: 24px;
}
.modal-box {
  display: flex;
  gap: 16px;
}
