:root {
  /* Colors */
  --main-purple: #635fc7;
  --black: #000112;
  --white: #fff;
  --very-dark-grey: #20212c;
  --dark-grey: #2b2c37;
  --medium-grey: #828fa3;
  --white: #ffffff;
  --red: #ea5555;

  /* Colors theme */
  --line-dark: #3e3f4e;
  --line-light: #e4ebfa;
  --light-grey-light: #f4f7fd;

  /* Hover colors */
  --red-hover: #ff9898;
  --main-purple-hover: #a8a4ff;

  /* Font-size */
  --fz-xxs: 1.2rem;
  --fz-md: 1.3rem;
  --fz-lg: 1.5rem;
  --fz-xl: 1.8rem;
  --fz-xxl: 2.4rem;
}
