body,
button,
input,
textarea,
select {
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--black);

  @media screen and (min-width: 750px) {
    font-size: 20px;
    line-height: 25px;
  }
}

/* //Header */
.h-xl {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 30px;
}
.h-l {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.438rem;
}
.h-m {
  font-size: 0.938rem;
  font-weight: bold;
  line-height: 1.188rem;
}
.h-s {
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.938rem;
  font-kerning: 0.15rem;
}
/* //Body */
.b-l {
  font-size: 0.813rem;
  font-weight: normal;
  line-height: 1.438rem;
}
.b-m {
  font-size: 0.813rem;
  font-weight: normal;
  line-height: 1.438rem;
}
